.venv
.venv_test
node_modules
render
ejemplos_generados_en_prueba
__pycache__
*.pyc
.git
.gitignore
.env
data/hrapp.db
data/hrapp.db.bak-*
data/secret_key.txt
app/generated/*
app/uploads/*
app/fotos/*
app/signatures/*
app/firmas_empresa/*
